{% extends 'base/base.html' %}

{% load static %}

{% block nevber %}
<li><a href="{% url 'register' %}">SignUp</a></li>
<li><a href="{% url 'customregister' %}">Custom Register</a></li>
<li><a href="{% url 'login' %}">Login</a></li>
<li><a href="{% url 'logout' %}">Logout</a></li>
<li><a href="{% url 'passwordchange' %}">Password change</a></li>
<li><a href="{% url 'passwordchangewo' %}">PC without old password </a></li>
{% endblock nevber %}

    {% block title %}
    <title>Document</title>
    {% endblock title %}

{% block content %}
<h1 style="font-family:verdana;">This is a Home Page</h1>
<p style="font-family:courier;">This is a paragraph.</p>



{% endblock content %}


    
