<h3>Login</h3>

<form action="" method="POST">
    {% csrf_token %}

    {% if form.non_field_errors %}
    {% for error in form.non_field_errors  %}
    <p>{{ error }}</p>
    {% endfor %}
    {% endif %}


    {% for field in form %}
        <p>{{ field.label }}: <br> {{ field }} {{field.errors | striptags }}</p>

    {% endfor %}

    <button type= "submit">Login</button>
    <a href="{% url 'passwordchange' %}">Change Password </a>
</form>

<p>Don't have an account? <a href="{% url 'register' %}">signup here</a></p>